{% extends "base.html" %}

{% block content %}
  <h2>Sign Up</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      {{ form.email.label_tag }}<br>
      {{ form.email }}
    </p>
    <p>
      {{ form.username.label_tag }}<br>
      {{ form.username }}
    </p>
    <p>
      {{ form.date_of_birth.label_tag }}<br>
      {{ form.date_of_birth }}
    </p>
    <p>
      {{ form.drivers_license_number.label_tag }}<br>
      {{ form.drivers_license_number }}
    </p>
    <p>
      {{ form.phone_number.label_tag }}<br>
      {{ form.phone_number }}
    </p>
    <p>
      {{ form.country_code.label_tag }}<br>
      {{ form.country_code }}
    </p>
    <p>
      {{ form.address.label_tag }}<br>
      {{ form.address }}
    </p>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}